@import "../../common/styles/mixins.scss";
@import "../../common/styles/variables.scss";

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: transparent;
   z-index: 1000;
   border-bottom: 1px solid #505050;
   .container {
      max-width: 960px;
   }
   .nav {
      padding: 25px 0;
   }
   &__nav-item {
      line-height: 26px;
      a {
         display: inline-block;
         @include text(16px, "Roleway");
         font-weight: 400;
         padding: 17px 5px 18px;
         text-transform: capitalize;
         &:hover {
            color: #a30041;
         }
         cursor: pointer;
      }
      .active {
         color: #ff0066;
      }
   }
   &.scroll {
      background-color: $bgColor;
   }
   .dropdown-background {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: rgba($color: $bgColor, $alpha: 0.7);
   }
}
@media screen and (max-width: 1180px) {
   .header {
      .nav {
         padding: 15px 0;
      }
   }
}
@media screen and (max-width: 990px) {
   .header {
      .nav {
         padding: 0;
      }
   }
}
@media screen and (max-width: 767px) {
   .header {
      .nav {
         padding: 10px;
      }
      .header-nav {
         display: none;
      }
      .header-burger-nav {
         display: block;
      }
      & .scroll {
         background-color: transparent;
      }
   }
}
