@import "./reset";
@import "../styles/variables.scss";
@font-face {
   font-family: "Roleway";
   src: url("../assets/fonts/Roleway/Raleway-VariableFont_wght.ttf");
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}
.App {
   position: relative;
   color: $basicTextColor;
   background: $bgColor;
   .blockTitle {
      margin-bottom: $titleMarginBottom;
   }
   .blockPadding {
      padding: $blockPadding;
   }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
   border: 0;
   -webkit-text-fill-color: $basicTextColor;
   transition: background-color 5000s ease-in-out 0s;
   background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 174, 255, 0.04) 50%,
      rgba(255, 255, 255, 0) 51%,
      rgba(0, 174, 255, 0.03) 100%
   );
}
