@import "../../common/styles/variables.scss";
.projects {
   &__slider {
      .slider {
         &__item {
            overflow: hidden;
            padding: 5px;
         }
         &__img {
            position: relative;
            overflow: hidden;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 370px;
            height: 370px;
            cursor: pointer;
         }
      }
      > div {
         ul.indicators {
            .each-slideshow-indicator {
               &::before {
                  background-color: $basicTextColor;
               }
            }
         }
      }
   }
}
@media screen and (max-width: 990px) {
   .projects {
      &__slider {
         .slider {
            &__img {
               width: 300px;
               height: 300px;
            }
         }
      }
   }
}
@media screen and (max-width: 767px) {
   .projects {
      &__slider {
         max-width: 600px;
         width: 100%;
         margin: 0 auto;
         .slider {
            &__img {
               width: 100%;
            }
         }
      }
   }
}
