@import "../../common/styles/variables.scss";
@import "../../common/styles/mixins.scss";
.custom-input {
   width: 100%;
   &__wrapper {
      display: inline-block;
      position: relative;
      background-color: $bgColor;
      height: fit-content;
      width: 100%;
      border: 1px solid transparent;
      transition: all ease-in 0.3s;
      &.active {
         border: 1px solid $bgColor;
         transition: all ease-in 0.3s;
         .custom-input__label {
            top: -13px;
            transition: all ease-in 0.3s;
            border-bottom: 1px solid $accentColor;
         }
      }
      &.error {
         border: 1px solid $accentColor;
         transition: all ease-in 0.3s;
         .custom-input__label {
            color: $accentColor;
         }
      }
   }
   &__label {
      @include text(14px, "Poppins-Light");
      opacity: 0.9;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      z-index: 10;
      color: #fff;
      transition: all ease-in 0.3s;
      padding-bottom: 2px;
      &.filled {
         opacity: 0;
      }
   }
   &__input {
      width: 100%;
      height: 100%;
      position: relative;
      background-color: transparent;
      padding: 10px;
      z-index: 1000;
      color: #fff;
   }
}
