@import "../../common/styles/variables.scss";
@import "../../common/styles/mixins.scss";
.main {
   background-color: $bgColor;
   min-height: 100vh;
   overflow: hidden;
   position: relative;
   padding-top: 200px;
   padding-bottom: 160px;
   .particles {
      position: absolute;
      z-index: 5;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
   }
   .container {
      height: 100%;
   }
   &__columns {
      @include flex(row, center, center, wrap);
      padding: 0 5px;
   }
   &__greeting {
      padding: 0 10px;
      margin-bottom: 50px;
   }
   &__text {
      display: block;
      @include text(64px, "Poppins-Bold");
      & > span {
         display: block;
      }
      & :nth-child(2) {
         padding-left: 10px;
         margin-right: 35px;
      }
      margin-bottom: 34px;
   }
   &__title {
      @include text(24px, "Roleway");
      line-height: 34px;
      font-weight: 500;
      & > div {
         display: inline;
         margin-left: 5px;
      }
   }
   &__photoBlock {
      position: relative;
      margin-left: 90px;
      z-index: 10;
      max-width: 430px;
      height: 542px;
      width: 100%;
      border: 5px solid $secondAccentColor;
      border-radius: 40px;
      & > div {
         position: absolute;
         bottom: 15px;
         left: 15px;
         height: 100%;
         width: 100%;
         border-radius: 40px;
         overflow: hidden;
      }
      img {
         cursor: pointer;
         width: 100%;
         height: 100%;
         border-radius: 40px;
      }
   }
   .photo-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
   }
   .photo-link {
      position: relative;
      z-index: 1000;
      margin: 10px;
      padding: 10px;
      font-size: 24px;
      border: 1px solid $secondAccentColor;
      border-radius: 4px;
      color: $basicTextColor;
      &:hover {
         border-color: $accentColor;
      }
   }
}
@media screen and (max-width: 1180px) {
   .main {
      &__text {
         font-size: 52px;
      }
      &__photoBlock {
         max-width: 400px;
         height: 470px;
         margin-left: 30px;
      }
   }
}
@media screen and (max-width: 990px) {
   .main {
      padding-top: 100px;
      &__text {
         font-size: 64px;
         margin-bottom: 10px;
         & :nth-child(2) {
            padding-left: 0;
         }
      }
      &__columns {
         flex-direction: column;
      }
   }
}
@media screen and (max-width: 767px) {
   .main {
      &__text {
         font-size: 34px;
      }
      &__photoBlock {
         max-width: 300px;
         height: 350px;
         margin-left: 0;
         padding: 5px;
      }
   }
}
